.section-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(225, 225, 225, .9);
  padding: 1.5rem;
  margin-right: .75rem;
  border-radius: 15%;
}

select {
  text-align: center;
}

button {
  background-color: lightblue;
  padding: .2rem;
  margin-top: .5rem;
  border-radius: 20%;
}