.single-article {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.25rem;
  margin-top: 11rem;
  color: black;
}

.single-title {
  font-size: 2rem;
}

.website {
  background-color: lightblue;
  padding: .75rem;
  border: solid;
  border-radius: 10%;
}
