.primary-card {
  box-sizing: border-box;
  padding: 2rem;
  padding-bottom: 4rem;
  background-color: lightblue ;
  color: black;
  font-size: 1rem;
  margin-bottom: 4rem;
  text-align: center;
  width: 70vw;
}

.art-title:hover {
  color: #b22222;
  cursor: pointer;
}

.primary-img {
  width: 50vw;
}
