.primary-card {
  box-sizing: border-box;
  border: 3px solid black;
  padding: 1.5rem;
  background-color: #05668D ;
  color: #F0F3BD;
  font-size: 1rem;
  margin: .5rem;
  text-align: center;
  width: 60vw;
}

.primary-card:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: all .5s;
  /* opacity: .8; */
}

.primary-img {
  width: 40vw;
}
