@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300&family=Limelight&family=Ubuntu:wght@300&family=UnifrakturCook&display=swap');

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}

.title {
  color: white;
  font-family: 'UnifrakturCook', cursive;
  padding: 1rem;
}

.title:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: all .5s;
  opacity: .8;
}