.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}

.title:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: all .5s;
  opacity: .8;
}